{% load static %}

<footer class="bg-zinc-950">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 xl:px-20 py-10 sm:py-12"> 
        
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
            
            <div class="mb-6 sm:mb-0 max-w-lg">
                
                <a href="/"> 
                    <img src="{% static 'img/logo.png' %}" alt="Logo Footer" class="h-6 sm:h-7 w-auto mb-3 sm:mb-4">
                </a>
                
                <p class="text-neutral-50 text-xs sm:text-sm max-w-xs sm:max-w-sm mb-3">
                    Portal statistik dan berita Liga Inggris terlengkap. <br class="hidden sm:inline"> 
                    Dapatkan data match, pemain, dan klub terkini. 
                </p>
                
                <p class="text-neutral-400 text-xs md:text-sm">
                    Copyright &copy 2025. All rights reserved.
                </p>
            </div>

            <a href="#top" class="bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 sm:px-6 sm:py-3 rounded-lg text-xs sm:text-sm transition-colors flex items-center shadow-lg flex-shrink-0">
                <svg class="w-3 h-3 sm:w-4 sm:h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path></svg>
                Back to Top
            </a>
        </div>
        
    </div>
</footer>