{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
</head>

<body>
    {% block content %}
    {% include 'navbar.html' %}

    <div class="bg-[#1d1f22] w-full pt-10 min-h-screen justify-center">
        <div class="absolute top-[780px] mx-20 mx-auto flex w-[1280px] flex-col items-start justify-start gap-20">
            <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-6 self-stretch">
            <p class="w-[1280px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[28px] font-semibold text-white">Klasemen</p>
            <div class="flex flex-shrink-0 flex-grow-0 items-start justify-start gap-4 self-stretch">
                <div class="flex w-[740px] flex-shrink-0 flex-grow-0 items-end justify-between rounded-2xl bg-[#333438] px-12 py-9">
                <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-end gap-7">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">1</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">2</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">3</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">4</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">5</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">6</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">7</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">8</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">9</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">10</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">11</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">12</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">13</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">14</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">15</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">16</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">17</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">18</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">19</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-4 self-stretch">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-semibold text-white">20</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-4">
                        <img src="logo-arsenal-2.png" class="h-7 w-6 flex-shrink-0 flex-grow-0 object-cover" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl text-white">Arsenal</p>
                    </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 flex-grow-0 items-center justify-end gap-6">
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-[#b0b0b0]">MP</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-9">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">7</p>
                    </div>
                    </div>
                    <div class="relative flex w-5 flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-[#b0b0b0]">W</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-9">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">5</p>
                    </div>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-[#b0b0b0]">D</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-9">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                    </div>
                    </div>
                    <div class="relative flex w-[9px] flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-[#b0b0b0]">L</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-9 self-stretch">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl text-white">1</p>
                    </div>
                    </div>
                    
                    <div class="relative flex w-[21px] flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6">
                    <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-[#b0b0b0]">P</p>
                    <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-9 self-stretch">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-semibold text-white">16</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="flex w-[524px] flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-8">
                <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch">
                    <p class="w-[524px] flex-shrink-0 flex-grow-0 self-stretch text-center text-2xl font-semibold text-white">Match Sedang Berlangsung</p>
                    <div class="flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-2.5 self-stretch rounded-2xl bg-[#333438] px-8 py-6">
                    <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-6 self-stretch">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-base font-medium text-white">Sabtu, 18 Oktober 2025</p>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 rounded-lg bg-[#157335] px-2 py-1">
                            <p class="flex-shrink-0 flex-grow-0 text-center text-xs text-white">Sedang berlangsung</p>
                        </div>
                        </div>
                        <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch">
                        <div class="relative flex w-[62px] flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-4">
                            <img src="logo-arsenal-2.png" class="h-[60px] w-[51px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[62px] flex-shrink-0 flex-grow-0 self-stretch text-center text-base font-medium text-white">Arsenal</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-1">
                            <p class="flex-shrink-0 flex-grow-0 text-center text-5xl font-semibold text-white">1 : 0</p>
                            <p class="w-[84px] flex-shrink-0 flex-grow-0 self-stretch text-center text-base text-[#b0b0b0]">32’</p>
                        </div>
                        <div class="relative flex w-[61px] flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-4">
                            <img src="logo-fulham-1.png" class="h-[60px] w-[45px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[61px] flex-shrink-0 flex-grow-0 self-stretch text-center text-base font-medium text-white">Fulham</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch">
                    <p class="w-[524px] flex-shrink-0 flex-grow-0 self-stretch text-center text-2xl font-semibold text-white">Match Hari Ini</p>
                    <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-4 self-stretch">
                    <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch rounded-2xl bg-[#333438] px-6 py-4">
                        <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-2">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-6 self-stretch">
                            <img src="logo-arsenal-4.png" class="h-7 w-[13px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[136px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Nottm Forrest</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3">
                            <img src="logo-arsenal-3.png" class="h-7 w-7 flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[82px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Chelsea</p>
                        </div>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-1 rounded-lg bg-[#e3e7fc] p-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-5 w-5 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                            <path d="M2.5 10C2.5 10.9849 2.69399 11.9602 3.0709 12.8701C3.44781 13.7801 4.00026 14.6069 4.6967 15.3033C5.39314 15.9997 6.21993 16.5522 7.12987 16.9291C8.03982 17.306 9.01509 17.5 10 17.5C10.9849 17.5 11.9602 17.306 12.8701 16.9291C13.7801 16.5522 14.6069 15.9997 15.3033 15.3033C15.9997 14.6069 16.5522 13.7801 16.9291 12.8701C17.306 11.9602 17.5 10.9849 17.5 10C17.5 8.01088 16.7098 6.10322 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5C8.01088 2.5 6.10322 3.29018 4.6967 4.6967C3.29018 6.10322 2.5 8.01088 2.5 10Z" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 5.83337V10L12.5 12.5" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#172153]">22.00 WIB</p>
                        </div>
                    </div>
                    <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch rounded-2xl bg-[#333438] px-6 py-4">
                        <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-2">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-6 self-stretch">
                            <img src="logo-arsenal-4.png" class="h-7 w-[13px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[136px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Nottm Forrest</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3">
                            <img src="logo-arsenal-3.png" class="h-7 w-7 flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[82px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Chelsea</p>
                        </div>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-1 rounded-lg bg-[#e3e7fc] p-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-5 w-5 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                            <path d="M2.5 10C2.5 10.9849 2.69399 11.9602 3.0709 12.8701C3.44781 13.7801 4.00026 14.6069 4.6967 15.3033C5.39314 15.9997 6.21993 16.5522 7.12987 16.9291C8.03982 17.306 9.01509 17.5 10 17.5C10.9849 17.5 11.9602 17.306 12.8701 16.9291C13.7801 16.5522 14.6069 15.9997 15.3033 15.3033C15.9997 14.6069 16.5522 13.7801 16.9291 12.8701C17.306 11.9602 17.5 10.9849 17.5 10C17.5 8.01088 16.7098 6.10322 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5C8.01088 2.5 6.10322 3.29018 4.6967 4.6967C3.29018 6.10322 2.5 8.01088 2.5 10Z" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 5.83337V10L12.5 12.5" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#172153]">22.00 WIB</p>
                        </div>
                    </div>
                    <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch rounded-2xl bg-[#333438] px-6 py-4">
                        <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-2">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-6 self-stretch">
                            <img src="logo-arsenal-4.png" class="h-7 w-[13px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[136px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Nottm Forrest</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3">
                            <img src="logo-arsenal-3.png" class="h-7 w-7 flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[82px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Chelsea</p>
                        </div>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-1 rounded-lg bg-[#e3e7fc] p-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-5 w-5 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                            <path d="M2.5 10C2.5 10.9849 2.69399 11.9602 3.0709 12.8701C3.44781 13.7801 4.00026 14.6069 4.6967 15.3033C5.39314 15.9997 6.21993 16.5522 7.12987 16.9291C8.03982 17.306 9.01509 17.5 10 17.5C10.9849 17.5 11.9602 17.306 12.8701 16.9291C13.7801 16.5522 14.6069 15.9997 15.3033 15.3033C15.9997 14.6069 16.5522 13.7801 16.9291 12.8701C17.306 11.9602 17.5 10.9849 17.5 10C17.5 8.01088 16.7098 6.10322 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5C8.01088 2.5 6.10322 3.29018 4.6967 4.6967C3.29018 6.10322 2.5 8.01088 2.5 10Z" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 5.83337V10L12.5 12.5" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#172153]">22.00 WIB</p>
                        </div>
                    </div>
                    <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch rounded-2xl bg-[#333438] px-6 py-4">
                        <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-2">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-6 self-stretch">
                            <img src="logo-arsenal-4.png" class="h-7 w-[13px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[136px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Nottm Forrest</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3">
                            <img src="logo-arsenal-3.png" class="h-7 w-7 flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[82px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Chelsea</p>
                        </div>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-1 rounded-lg bg-[#e3e7fc] p-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-5 w-5 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                            <path d="M2.5 10C2.5 10.9849 2.69399 11.9602 3.0709 12.8701C3.44781 13.7801 4.00026 14.6069 4.6967 15.3033C5.39314 15.9997 6.21993 16.5522 7.12987 16.9291C8.03982 17.306 9.01509 17.5 10 17.5C10.9849 17.5 11.9602 17.306 12.8701 16.9291C13.7801 16.5522 14.6069 15.9997 15.3033 15.3033C15.9997 14.6069 16.5522 13.7801 16.9291 12.8701C17.306 11.9602 17.5 10.9849 17.5 10C17.5 8.01088 16.7098 6.10322 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5C8.01088 2.5 6.10322 3.29018 4.6967 4.6967C3.29018 6.10322 2.5 8.01088 2.5 10Z" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 5.83337V10L12.5 12.5" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#172153]">22.00 WIB</p>
                        </div>
                    </div>
                    <div class="flex flex-shrink-0 flex-grow-0 items-center justify-between self-stretch rounded-2xl bg-[#333438] px-6 py-4">
                        <div class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-2">
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-6 self-stretch">
                            <img src="logo-arsenal-4.png" class="h-7 w-[13px] flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[136px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Nottm Forrest</p>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3">
                            <img src="logo-arsenal-3.png" class="h-7 w-7 flex-shrink-0 flex-grow-0 object-cover" />
                            <p class="w-[82px] flex-shrink-0 flex-grow-0 text-left text-xl text-white">Chelsea</p>
                        </div>
                        </div>
                        <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-1 rounded-lg bg-[#e3e7fc] p-1">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-5 w-5 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                            <path d="M2.5 10C2.5 10.9849 2.69399 11.9602 3.0709 12.8701C3.44781 13.7801 4.00026 14.6069 4.6967 15.3033C5.39314 15.9997 6.21993 16.5522 7.12987 16.9291C8.03982 17.306 9.01509 17.5 10 17.5C10.9849 17.5 11.9602 17.306 12.8701 16.9291C13.7801 16.5522 14.6069 15.9997 15.3033 15.3033C15.9997 14.6069 16.5522 13.7801 16.9291 12.8701C17.306 11.9602 17.5 10.9849 17.5 10C17.5 8.01088 16.7098 6.10322 15.3033 4.6967C13.8968 3.29018 11.9891 2.5 10 2.5C8.01088 2.5 6.10322 3.29018 4.6967 4.6967C3.29018 6.10322 2.5 8.01088 2.5 10Z" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 5.83337V10L12.5 12.5" stroke="#172153" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#172153]">22.00 WIB</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-8 self-stretch">
            <p class="flex-shrink-0 flex-grow-0 self-stretch text-center text-[28px] font-semibold text-white">Semua Match Musim Ini</p>
            <div class="flex flex-shrink-0 flex-grow-0 items-center justify-start gap-[60px]">
                <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-2.5 rounded-[100px] bg-[#333438] px-4 py-2.5">
                <svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-6 w-3 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.84294 12.7109L7.49994 18.3679L8.91394 16.9539L3.96394 12.0039L8.91394 7.05389L7.49994 5.63989L1.84294 11.2969C1.65547 11.4844 1.55015 11.7387 1.55015 12.0039C1.55015 12.2691 1.65547 12.5234 1.84294 12.7109Z" fill="white"></path>
                </svg>
                </div>
                <div class="relative flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-2">
                <p class="flex-shrink-0 flex-grow-0 text-center text-xl font-medium text-white">Pekan Match ke-8</p>
                <p class="flex-shrink-0 flex-grow-0 text-center text-base text-[#b0b0b0]">18 Okt - 21 Okt</p>
                </div>
                <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-2.5 rounded-[100px] bg-[#333438] px-4 py-2.5">
                <svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="relative h-6 w-3 flex-shrink-0 flex-grow-0" preserveAspectRatio="xMidYMid meet">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1569 12.7109L4.49994 18.3679L3.08594 16.9539L8.03594 12.0039L3.08594 7.05389L4.49994 5.63989L10.1569 11.2969C10.3444 11.4844 10.4497 11.7387 10.4497 12.0039C10.4497 12.2691 10.3444 12.5234 10.1569 12.7109Z" fill="white"></path>
                </svg>
                </div>
            </div>
            <div class="flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-10 self-stretch rounded-2xl bg-[#333438] px-20 py-12">
                <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch">
                <p class="w-[1120px] flex-shrink-0 flex-grow-0 self-stretch text-center text-xl text-white">Sabtu, 18 Oktober 2025</p>
                <div class="flex flex-shrink-0 flex-grow-0 items-center justify-start gap-[120px]">
                    <div class="flex w-[145px] flex-shrink-0 flex-grow-0 flex-col items-end justify-center gap-5">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Nottingham Forrest</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    </div>
                    <div class="flex w-[104px] flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-6">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">0 : 3</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">0 : 3</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">0 : 3</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">0 : 3</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">0 : 3</p>
                    </div>
                    </div>
                    <div class="flex w-[153px] flex-shrink-0 flex-grow-0 flex-col items-start justify-center gap-5">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch">
                <p class="w-[1120px] flex-shrink-0 flex-grow-0 self-stretch text-center text-xl text-white">Senin, 20 Oktober 2025</p>
                <div class="flex flex-shrink-0 flex-grow-0 items-center justify-center gap-[120px] self-stretch">
                    <div class="flex w-[145px] flex-shrink-0 flex-grow-0 flex-col items-end justify-center gap-5">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-end gap-3">
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Arsenal</p>
                        <img src="logo-arsenal-4.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                    </div>
                    </div>
                    <div class="flex w-[104px] flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-6">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">20.00</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-2xl bg-[#3247b1] px-8 py-3">
                        <p class="flex-shrink-0 flex-grow-0 text-left text-xl font-medium text-white">21.00</p>
                    </div>
                    </div>
                    <div class="flex w-[153px] flex-shrink-0 flex-grow-0 flex-col items-start justify-center gap-5">
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    <div class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-3 self-stretch">
                        <img src="logo-arsenal-3.png" class="h-12 w-[41px] flex-shrink-0 flex-grow-0 object-contain" />
                        <p class="flex-shrink-0 flex-grow-0 text-center text-2xl font-medium text-white">Chelsea</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="absolute top-[159px] h-[560px] w-[1280px] mx-20 mx-auto items-center rounded-2xl bg-[#333438]"></div>
        <div style="height: 3248px;"></div>
    </div>

    {% include 'footer.html' %}
    {% endblock content %}
</body>
</html>