{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> {{ title }} </title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="bg-[#1d1f22] w-full pt-10 min-h-screen">
    <div class="mx-auto px-4 sm:px-6 lg:px-20 py-8">
        <div class="my-24 bg-[#333438] rounded-2xl h-[560px]">

        </div>

        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-white">Klasemen & Match</h2>
            <a href="#" class="text-sm text-gray-400 hover:text-white transition duration-200 flex items-center">
                Lihat Semua Klasemen
                <svg class="w-4 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                </svg>
            </a>

        </div>
        
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-white">Statistik Terbaru</h2>
            <a href="#" class="text-sm text-gray-400 hover:text-white transition duration-200 flex items-center">Lihat Semua Statistik
                <svg class="w-4 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                </svg>
            </a>
        </div>

        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-white">Profil Klub</h2>
            <a href="#" class="text-sm text-gray-400 hover:text-white transition duration-200 flex items-center">Lihat Semua Profil
                <svg class="w-4 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                </svg>
            </a>
        </div>

        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold text-white">Berita Terbaru</h2>
            <a href="#" class="text-sm text-gray-400 hover:text-white transition duration-200 flex items-center">Lihat Semua Berita
                <svg class="w-4 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                </svg>
            </a>
        </div>

    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}